/* Tema estándar */
[data-theme="default"] {
  /* Colores base */
  --primary-color: #1d4ed8;
  --secondary-color: #4a4a49;
  --background-color: #e6e6e6;
  --text-color: #222222;

  /* Elementos específicos */
  --sidebar-bg: var(--background-color);
  --menu-item-hover: rgba(0, 0, 0, 0.05);
  --menu-item-active: rgba(29, 78, 216, 0.1);

  /* Sombras */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  width: 1.2rem;
  height: 1.2;
  stroke: var(--primary-color);
  stroke-width: 1px;
  fill: none;
}
